/*
.*
!autoload/
!colors/
!ultisnips/
!init/
!lua/
!.vim/
!.vscode/

!.gitignore
!coc-settings.json
!asynctasks.ini
!*.vim
!vimrc_template

!/libxkbswitch64.dll
!/libInputSourceSwitcher.dylib
package-lock.json
